<%- include("header") -%>

    <!-- img-center -->
    <section>
        <div class="container ">
            <div class="row">

                <div class="row justify-content-center mt-5">
                    <div class="col-lg-10 text-center">
                        <h1 class="text-secondar display fw-bold mt-5">Committed to significantly <span class="orange">improve the coding skills</span> of as many students as possible.</h1>

                        <img src="images/hero-banner-2.jpg" alt="" class="img-fluid ck-rounded mt-5">
                    </div>
                </div>

            </div>
            <div class="row justify-content-center pt-5">
                <div class="col-lg-10">
                    <div class="d-fle align-content-center">
                        <p class="lead">Codeclub is the next-generation platform for learning how to code. Our
                            screencasts enable you to interact with the code directly in the player. This way, you'll have
                            more fun and learn faster.

                            Our courses cover subjects like HTML, CSS, JavaScript, React, Python, Machine Learning, Vue, and
                            more. They're all made with the goal of advancing your career. So pick a course and give your
                            career a boost!</p>

                        <p class="lead">Our goal is to create the best possible coding school at the lowest
                            possible cost for students. If we succeed with this, it’ll give anyone who wants to become a
                            software developer a realistic shot at succeeding. Regardless of where they live and the size of
                            their wallets.

                            Live classes is the backbone of our school. Not only because it results in a superior learning
                            experience. But also because it enables us to iterate more quickly, to attract better teachers,
                            to facilitate better peer-learning, and much more.</p>

                        <p class=" pt-3" style="font-size:20px">Garv Upadhyay, Founder &amp; CEO</p>
                        <p class=" pt-2" style="font-size:20px">Shivam kr. Sharma, Founder &amp; CEO</p>
                        <p class=" pt-2" style="font-size:20px">Manika Sirohi, Founder &amp; CEO</p>
                    </div>

                    <p></p>
                </div>
                

            </div>
        </div>
    </section>
    <!-- img center ends -->

    <!-- Meet Coders -->
    <section>
        <div class="container d-no my-5 py-5">
            
                <div class="row mb-5 justify-content-center">
                    <div class="col-lg-10 text-cente">
                      <h2 class="fw-bold text-cente">Meet the Coders behind Codekaro</h2>
                        <div class="row">
                          <div class="col-6 col-md-3 my-4">
                              <div class="text-cente">
                                  <img src="images/1590605160428-modified.png" class="use my-3 ck-rounded" height="140" alt="">
                                  <h2 class="fs-5 m-0">Garv Upadhyay</h2>
                                  <p class="small mt-0 mb-2">Worked at LTI,TCS</p>
                                  <p class="">Founder</p>
                              </div>
                            </div>

                            <div class="col-6 col-md-3 my-4">
                              <div class="text-cente">
                                  <img src="images/shivam-modified.png" class="use my-3 ck-rounded" height="140" alt="">
                                  <h2 class="fs-5 m-0">Shivam kr. Sharma</h2>
                                  <p class="small mt-0 mb-2">Worked at TCS,WIPRO</p>
                                  <p class="smal">Founder</p>
                              </div>
                            </div>

                            <div class="col-6 col-md-3 my-4">
                              <div class="text-cente">
                                  <img src="images/243171928_1201553830320807_1823870772310750640_n-modified.png" class="use my-3 ck-rounded" height="140" alt="">
                                  <h2 class="fs-5 m-0">Harsh Saini</h2>
                                  <p class="small mt-0 mb-2">UNIFIER GROUP</p>
                                  <p class="small">Instructor</p>
                              </div>
                            </div>
                            
                        </div>
                    </div>                  
                </div>
        </div>
    </section>
    <!-- Meet coders end -->

    <%- include("footer") -%>