<%- include("header") -%>
    <!-- courses section -->
    <section>
        <div class="container ">
            <div class="row justify-content-center">
                <div class="col">
                    
                        <div class="row">
                                <div class="col-md-6 col-lg-4 mt-5">
                                <a class="card hover-shadow-sm border-none shadow down2" href="/register">
                                    <img src="images/python.jpg" alt="Image" class="card-img-top course-card">
    
                                    
                                    <div class="card-bod d-flex flex-column">
                                        <div class="py-2 px-3">
                                            <div class="pills">
                                                <span class="badge badge-pill badge-primary bg-mute text-dark fw-bold">Live Classes</span>
                                                <span class="badge badge-pill badge-primary bg-mute text-dark fw-bold">English</span>
                                            </div>
                                            <h1 class="mb-0 ck-font fw-400 fs-5 mt-3 text-black">Data Science and Machine Learning Bootcamp</h1>
                                            
                                                <p class="mt-2 pt-2 fs-small text-black">Starts on Mon, 28 dec 2022</p> 
                                                <p class="fs-small text-black">Late evening classes</p>
                                                
                                                <div class="mt-4 d-flex justify-content-between align-items-end">
                                                    <div class="">
                                                        <p class="small m-0 text-black">Price</p>
                                                        <p class="text-black">Rs 7999</p>
                                                    </div>
                                                </div>
                                                
    
                                        </div>
                                        
                                    </div>
                                </a>
                            </div>  
    
                            
                                <div class="col-md-6 col-lg-4 mt-5">
                                <a class="card hover-shadow-sm border-none shadow down2" href="/register">
                                    <img src="images/node.jpg" alt="Image" class="card-img-top course-card">
    
                                    
                                    <div class="card-bod d-flex flex-column">
                                        <div class="py-2 px-3">
                                            <div class="pills">
                                                <span class="badge badge-pill badge-primary bg-mute text-dark fw-bold">Live Classes</span>
                                                <span class="badge badge-pill badge-primary bg-mute text-dark fw-bold">English</span>
                                            </div>
                                            <h1 class="mb-0 ck-font fw-400 fs-5 mt-3 text-black">Full Stack Web Development Bootcamp (MERN)</h1>
                                            
                                                <p class="mt-2 pt-2 fs-small text-black">Starts on Mon, 28 dec 2022</p> 
                                                <p class="fs-small text-black">Late evening classes</p>
                                                
                                                <div class="mt-4 d-flex justify-content-between align-items-end">
                                                    <div class="">
                                                        <p class="small m-0 text-black">Price</p>
                                                        <p class="text-dark">Rs 9999</p>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </a>
                            </div>  
    
                            
                                <div class="col-md-6 col-lg-4 mt-5">
                                <a class="card hover-shadow-sm border-none shadow down2" href="/register">
                                    <img src="https://codekaro.in/storage/img/ZdsfY6KWCBwVJq05vAA405QGvDdSX3Qm8LJnv00Z.jpg" alt="Image" class="card-img-top course-card">
    
                                    
                                    <div class="card-bod d-flex flex-column">
                                        <div class="py-2 px-3">
                                            <div class="pills">
                                                <span class="badge badge-pill badge-primary bg-mute text-dark fw-bold">Live Classes</span>
                                                <span class="badge badge-pill badge-primary bg-mute text-dark fw-bold">English</span>
                                            </div>
                                            <h1 class="mb-0 ck-font fw-400 fs-5 mt-3 text-black">Web Development FrontEnd Bootcamp</h1>
                                            
                                                <p class="mt-2 pt-2 fs-small text-black">Starts on Sat, 25 Dec 2022</p> 
                                                <p class="fs-small text-black">Late evening classes</p>
                                                
                                                <div class="mt-4 d-flex justify-content-between align-items-end">
                                                    <div class="">
                                                        <p class="small m-0 text-black">Price</p>
                                                        <p class="text-black">Rs 990</p>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </a>
                            </div>  
    
                            
                                <div class="col-md-6 col-lg-4 mt-5">
                                <a class="card hover-shadow-sm border-none shadow down2" href="/register">
                                    <img src="images/node.jpg" alt="Image" class="card-img-top course-card">
    
                                    
                                    <div class="card-bod d-flex flex-column">
                                        <div class="py-2 px-3">
                                            <div class="pills">
                                                <span class="badge badge-pill badge-primary bg-mute text-dark fw-bold">Live Classes</span>
                                                <span class="badge badge-pill badge-primary bg-mute text-dark fw-bold">English</span>
                                            </div>
                                            <h1 class="mb-0 ck-font fw-400 fs-5 mt-3 text-black">Full Stack Web Development Bootcamp (MEAN)</h1>
                                            
                                                <p class="mt-2 pt-2 fs-small text-black">Starts on Wed, 01 nov 2022</p> 
                                                <p class="fs-small text-black">Late evening classes</p>
                                                
                                                <div class="mt-4 d-flex justify-content-between align-items-end">
                                                    <div class="">
                                                        <p class="small m-0 text-black">Price</p>
                                                        <p class="text-black">Rs 13999</p>
                                                    </div>
                                                </div>
                                                
    
                                        </div>
                                        
                                    </div>
                                </a>
                            </div>  
    
                            
                                <div class="col-md-6 col-lg-4 mt-5">
                                <a class="card hover-shadow-sm border-none shadow down2" href="/register">
                                  <img src="images/Instagram-1.webp" alt="Image" class="card-img-top course-card">
                                <div class="card-bod d-flex flex-column">
                                        <div class="py-2 px-3">
                                            <div class="pills">
                                                <span class="badge badge-pill badge-primary bg-mute text-dark fw-bold">Live Classes</span>
                                                <span class="badge badge-pill badge-primary bg-mute text-dark fw-bold">English</span>
                                            </div>
                                            <h1 class="mb-0 ck-font fw-400 fs-5 mt-3 text-black">Instagram Clone Web Dev Live Masterclass</h1>
                                            
                                                <p class="mt-2 pt-2 fs-small text-black">Starts on Sun, 01 nov 2022</p> 
                                                <p class="fs-small text-black">Late evening classes</p>
                                                
                                                <div class="mt-4 d-flex justify-content-between align-items-end">
                                                    <div class="">
                                                        <p class="small m-0 text-black">Price</p>
                                                        <p class="text-black">Rs 4779</p>
                                                    </div>
                                                </div>
                                                
    
                                        </div>
                                        
                                    </div>
                                </a>
                            </div>  
                        </div>
                </div>
            </div>
        </div>
    </section>
    <!-- course section ends -->
    <%- include("footer") -%>