<%- include("header") -%>

    <!-- Image with Text -->
    <div class="container-fluid">
        <section>
            <div class="container-fluid mt-5">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6">
                        <div >
                            <img src="images/girl.png" class="hero">
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row justify-content-center ">
                <div class="col-lg-8 text-center">
                  <div class="">
                    <!-- fw-700 fw-sm-ligh ck-mt-sm-5 -->
                    <h1 class="display-5 fw-bolder mt-2">Improve your coding skills with <br><span class="orange">live Coding classes</span> 
                  </h1>
                  <p class="fs-5">
                    There are 72M students learning to code around the world. We try to
                    make learning more accessible, equitable and more seamless for them.
                  </p>
                  <a href="/course" class="btn ck-bt btn-dark btn-lg rounded-pil fw-light px-4 fs-5 text-capitalize text-white">Start learning</a>
                  
        
                </div>
                </div>
                </div>
        </section>
        <!-- End Image with Text -->
    </div>
    </div>

    <!-- learn what -->
    <section>
        <div class="container-fluid mt-3">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                     <h1 class="fs-1 fw-700 fw-bolder">Learn what fascinates you for free</h1>
                     <p class="fs-5 text-bold">Here's what some of our 4070+ satisfied students have to say about learning with codeclub.</p>
                    
                </div>
            </div>
        </div>

        <div class="row  mt-5">
            <div class="col-md-12 mx-md-auto col-lg-4 d-flex mb-4 img-cent">
                <div class="card mx-md-auto holo hover-shadow-sm border-none shadow shadow-3d rounded" style="width: 18rem; ">
                   <a href="/register"><img src="images/Web-Developer1--1-.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-black">Web Developement Bootcamp</h5>
                    <p class="lea m-0 text-dark fw-500"> From
                        Thu, 09 Jun
                     <span class="text-muted">at
                        06:00 PM</span>
                </p>
                <p class="lad m-0 text-dark">Schedule: 06:00 to 07:00 PM</p>
                </div>
                </a>
                </div>
            </div>
            <div class="col-md-12 col-lg-4 d-flex mb-4 img-cent">
                <div class="card mx-md-auto holo hover-shadow-sm border-none shadow shadow-3d rounded" style="width: 18rem;">
                 <a href="/register"><img src="images/android.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-black">Android Developement Bootcamp</h5>
                    <p class="lea m-0 text-dark fw-500"> From
                        Thu, 09 Jun
                     <span class="text-muted">at
                        06:00 PM</span>
                </p>

                <p class="lad m-0 text-dark">Schedule: 06:00 to 07:00 PM</p>
                </div>
            </a>
                </div>
            </div>
            <div class="col-md-12 col-lg-4 d-flex mb-4 img-cent">
                <div class="card mx-md-auto holo hover-shadow-sm border-none shadow shadow-3d rounded" style="width: 18rem;">
                   <a href="/register"><img src="images/machine.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-black">Machine learning Bootcamp</h5>
                    <p class="lea m-0 text-dark fw-500"> From
                        Thu, 09 Jun
                     <span class="text-muted">at
                        06:00 PM</span>
                </p>

                <p class="lad m-0 text-dark">Schedule: 06:00 to 07:00 PM</p>
                </div>
                </a>
                </div>
            </div>
        </div>
    </section>
    <!-- learn what end -->

    <!-- hand with mic -->
    
    <section>
        <div class="container-fluid mt-5">
            <div class="row justify-content-center">
                <div class="col-lg-12 text-center">
                    <img src="images/hand-with-mic.svg" class="mx-auto">
                    <h1 class=" fw-bolder text-center">Students Love Codeclub</h1>
                  <p class="fs-5 mb-5">Here's what 18339 satisfied students have to say about learning with codeclub.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- hand with mic end -->

    <!-- testimonials -->
    <section>

        <div class="row text-center d-flex align-items-stretch">
          <div class="col-md-4 mb-5 mb-md-0 d-flex align-items-stretch">
            <div class="card testimonial-card">
              <div class="card-up" style="background-color: #9d789b;"></div>
              <div class="avatar mx-auto bg-white">
                <img src="images/shivam-modified.png"
                  class="rounded-circle img-fluid w-50" />
              </div>
              <div class="card-body">
                <h4 class="mb-4">Shivam Kr. Sharma</h4>
                <hr />
                <p class="dark-grey-text mt-4">
                  <i class="fas fa-quote-left pe-2"></i>It was great learnig with codeclub It helped in gaining enough experience to get my internship”
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-5 mb-md-0 d-flex align-items-stretch">
            <div class="card testimonial-card">
              <div class="card-up" style="background-color: #7a81a8;"></div>
              <div class="avatar mx-auto bg-white">
                <img src="images/aryan.png"
                  class="rounded-circle img-fluid w-50" />
              </div>
              <div class="card-body">
                <h4 class="mb-4">Parvender</h4>
                <hr />
                <p class="dark-grey-text mt-4">
                  <i class="fas fa-quote-left pe-2"></i>Python course was well designed, easy to learn even if you are new to coding. Great value for money.”
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-0 d-flex align-items-stretch">
            <div class="card testimonial-card">
              <div class="card-up" style="background-color: #6d5b98;"></div>
              <div class="avatar mx-auto bg-white">
                <img src="images/1590605160428.jpg"
                  class="rounded-circle img-fluid w-50" />
              </div>
              <div class="card-body">
                <h4 class="mb-4">Garv Upadhyay</h4>
                <hr />
                <p class="dark-grey-text mt-4">
                  <i class="fas fa-quote-left pe-2"></i>A lot of advanced web dev topics taught at codeclub taught by ashish sir gave me an edge over my peers,
                   and I ultimately absorbed more here than I ever did anywhere else.”
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Testimonials ends -->

      <!-- book class -->
      <section>
        <div class="container-fluid mt-4">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <img src="images/gift.svg" class="w-25">
                    <h1 class=" fw-bolder text-center mt-2">Book Your <span class="orange">free masterclass</span> now</h1>
                    <p class="text-black fs-4">
                      More than 9000 students have attended our Masterclasses and loved them.
                  </p>
                    <a href="/register" class="btn ck-bt btn-dark btn-lg rounded-pil fw-light px-4 fs-5 text-capitali text-white mt-3">Contact Now</a>
                </div>
            </div>
        </div>
    </section>

    <!-- footer nav -->

    <%- include("footer") -%> 