<%- include("header") -%>

<div class="thankyou">
    <div class="vertical-centre">
    <h1>ThankYou for your interest</h1>
    <h2>We'll get in touch with you via e-mail.</h2>
</div>
</div>


<%- include("footer") -%>